*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}
body {
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

img {
  position: absolute;
  width: 100vw;
  height: 768px;
  z-index: -1;
  filter: brightness(50%);
}

/* STYLES */
.main {
  font-family: 'Space Grotesk', sans-serif;
}

.green {
  color: #3C896D;
}

.light {
  font-weight: 300;
}

.semibold {
  font-weight: 600;
}

.bold {
 font-weight: 900;
}

.extrabold {
  font-weight: 900;
}

.white {
  color: #fff;
}

.smallest {
  font-size: 14px;
}

.smaller {
  font-size: 15px;
}

.small {
  font-size: 20px;
}

.large {
  font-size: 24px;
}

.larger {
  font-size: 64px;
}

.support {
  font-family: 'Overpass', sans-serif;
  max-width: 550px;
  padding-left: 8px;
}

.mono {
  font-family: 'Overpass Mono', monospace;
}

.extrabold .mono {
  font-weight: bolder;
}

.container {
  /* height: 768px; */
  height: 600px;
  overflow: hidden;
  /* display: flex;
  flex-direction: column; */
}

.container1 {
  display: flex;
  justify-content: space-between;
  gap: 100px;
}

.container2 {
  display: flex;
  gap: 50px;
  justify-content: flex-start;

}

/* HEADER SECTION */
.header {
  display: flex;
  justify-content: space-between;
  padding: 30px 50px 0 100px;
}


.nav ul {
  display: flex;
  gap: 18px;
  list-style: none;
  color: #fff;
  /* margin-left: 40px; */
}

.nav ul li {
  padding: 8px 20px 10px;
  width: 140px;
  height: 39px;
  border-radius: 40px;
  border: none;
  background-color: #3C896D;
  text-transform: uppercase;
  font-size: 16px;
  text-align: center;
}

a {
  text-decoration: none;
  margin: auto;

}

.menubar {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  display: none;
  margin-right: 0;
}

.bar {
  /* border-bottom: 3px solid #3C896D; */
  display: block;
  width: 50px;
  height: 3px;
  background-color: #fff;

}


.bar:not(:last-child) {
  margin-bottom: 6px;
}

/* HERO SECTION */
.hero {
  position: relative;
  margin-top: 114px;
  margin-left: 109px;
}

.hero button {
  padding: 13px 29px 10px;
  background-color: #BFD8BD;
  border: none;
  margin-top: 18px;
  margin-left: 13px;
  border-radius: 20px;
  vertical-align: bottom;
}

/*FOOTER*/
.footer {
  background-color: #3C896D;
  display: flex;
  justify-content: space-between;
  padding: 30px 70px ;
  /* height: 256px; */
  width: 100vw;
}

p {
  margin-bottom: 5px;
}

.info {
  margin-bottom: 30px;
}

.line {
  border: 1px solid #BFD8BD;
}

.subscription form input {
  background-color: #6B9080;
  border: none;
  height: 38px;
  width: 318px;
  color: #fff;
}

.subscription form button {
  color: #50FFB1;
  background-color: #000;
  border: none;
  padding: 8px 6px;
  margin-left: -4px;
}

::placeholder {
  color: #BFD8BD;
  opacity: 1;
  padding-left: 7px;
}

/*MEDIA QUERIES*/
@media screen and (max-width:1244px) {
  .nav ul li a {
    font-size: 14px;
  }
  
  .nav ul li {
    width: 130px;
  }

  .larger {
    font-size: 50px;
  }

  .large {
    font-size: 20px;
  }
  
  .container1 {
    padding-left: 70px;
  }

  .info-name {
    margin-right: 10px;
  }

  /* .subscription form button {
    margin: 2px 0 0 1px;
  } */

  .subscription form input {
    width: 150px;
  }

}

@media screen and (max-width:776px) {
  .mobile-only {
    display: block;
  }

  .desktop-only {
    display: none;
  }

  img {
    object-fit: cover;
  }

  .header {
    background-color: #3C896D;
    padding: 20px;
  } 

  .footer {
    display: flex;
    flex-direction: column;
    height: unset;
  }

  .info-name {
    margin: auto;
  }

  .info-terms {
    display: none;
  }

}

@media screen and (max-width: 640px) {
  .container1 {
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
  }
  
}